<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>TheBlogApp</title>
</head>
<body>

<%- include('partials/header') %>

<main class="main">
<div class="overlay"></div>
    <h2>Alternatives</h2>
    
    <ul>
        <li>
            <h3>Read a Book</h3>
            <ul>
                <li><a href="https://www.free-ebooks.net/sci-fi-fantasy#gs.26w43v">Sci-fi Fantasy Books</a></li>
                <li><a href="https://www.free-ebooks.net/mystery#gs.26w5pj">Mystery Books </a></li>
            </ul>
        </li>

        <li>
            <h3>Watch a Video</h3>
            <ul>
                <li><a href="https://www.youtube.com/results?search_query=python+full+courseS">Python Full Courses</a></li>
                <li><a href="https://www.youtube.com/results?search_query=javascript+full+course">Javascript Full Course</a></li>
            </ul>
        </li>
    </ul>
</main>

<footer>
<%- include('partials/footer') %>
</footer>
</body>
</html>